<% @title = t(:comment_settings, :scope => [:txt, :view, :admin, :comments]) -%>
<%= render :partial => "admin/sub_menu_for_feedbacks" %>
<%= render_flash %>
<div class="option_wrap">
<div class="edit_field">
<div class="right_c"></div>
<div class="edit_header"><div id="notifier"></div><%=  %></div>


    <%= render :partial =>"chito_comments_config" %>
</div>
</div>

