.overlay_dialog {
	background-color: #666666;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.overlay___invisible__ {
  background-color: #666666;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.dialog_nw {
	width: 9px;
	height: 23px;
	background: transparent url(default/top_left.gif) no-repeat 0 0;		
}

.dialog_n {
	background: transparent url(default/top_mid.gif) repeat-x 0 0;	
	height: 23px;
}

.dialog_ne {
	width: 9px;
	height: 23px;
	background: transparent url(default/top_right.gif) no-repeat 0 0;		
}

.dialog_e {
	width: 2px;
	background: transparent url(default/center_right.gif) repeat-y 0 0;	
}

.dialog_w {
	width: 2px;
	background: transparent url(default/center_left.gif) repeat-y 0 0;		
}

.dialog_sw {
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_left.gif) no-repeat 0 0;			
}

.dialog_s {
	background: transparent url(default/bottom_mid.gif) repeat-x 0 0;		
	height: 19px;
}

.dialog_se {
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_right.gif) no-repeat 0 0;			
}

.dialog_sizer {
	width: 9px;
	height: 19px;
	background: transparent url(default/sizer.gif) no-repeat 0 0;	
	cursor:se-resize;	
}

.dialog_close {
	width: 14px;
	height: 14px;
	background: transparent url(default/close.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:8px;
	cursor:pointer;
	z-index:2000;
}

.dialog_minimize {
	width: 14px;
	height: 15px;
	background: transparent url(default/minimize.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:28px;
	cursor:pointer;
	z-index:2000;
}

.dialog_maximize {
	width: 14px;
	height: 15px;
	background: transparent url(default/maximize.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:49px;
	cursor:pointer;
	z-index:2000;
}

.dialog_title {
	float:left;
	height:14px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	text-align:center;
	width:100%;
	color:#000;
}

.dialog_content {
	overflow:auto;
	color: #DDD;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	background-color:#123;
}

.top_draggable, .bottom_draggable {
  cursor:move;
}

.status_bar {
  font-size:12px;
}
.status_bar input{
  font-size:12px;
}

.wired_frame {
	display: block;
  position: absolute;
  border: 1px #000 dashed;
}

/* DO NOT CHANGE THESE VALUES*/
.dialog {
	display: block;
	position: absolute;
}

.dialog table.table_window  { 
  border-collapse: collapse; 
  border-spacing: 0; 
  width: 100%;
	margin: 0px;
	padding:0px;
}

.dialog table.table_window td , .dialog table.table_window th { 
  padding: 0; 
}

.dialog .title_window {
  -moz-user-select:none;
} 
/*----------------------------------------------------------*/
.overlay_alphacube {
	background-color: #ccc;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
.dialog table td{
    border:0;
}

.alphacube_nw {
	background: transparent url(alphacube/left-top.gif) no-repeat 0 0;			
  width:10px;
  height:25px;
}

.alphacube_n {
  background: transparent url(alphacube/top-middle.gif) repeat-x 0 0;			
  height:25px;
}

.alphacube_ne {
  background: transparent url(alphacube/right-top.gif) no-repeat 0 0;			
  width:10px;	  
  height:25px;
}

.alphacube_w {
  background: transparent url(alphacube/frame-left.gif) repeat-y top left;			
  width:7px;
}

.alphacube_e {
  background: transparent url(alphacube/frame-right.gif) repeat-y top right;			
  width:7px;	  
}

.alphacube_sw {
  background: transparent url(alphacube/bottom-left-c.gif) no-repeat 0 0;			
  width:7px;
  height:7px;
}

.alphacube_s {
  background: transparent url(alphacube/bottom-middle.gif) repeat-x 0 0;			
  height:7px;
}

.alphacube_se, .alphacube_sizer  {
  background: transparent url(alphacube/bottom-right-c.gif) no-repeat 0 0;			
  width:7px;
  height:7px;
}

.alphacube_sizer {
	cursor:se-resize;	
}

.alphacube_close {
	width: 23px;
	height: 23px;
	background: transparent url(alphacube/button-close-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:11px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_minimize {
	width: 23px;
	height: 23px;
	background: transparent url(alphacube/button-min-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:55px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_maximize {
	width: 23px;
	height: 23px;
	background: transparent url(alphacube/button-max-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:33px;
	cursor:pointer;
	z-index:1000;
}

.alphacube_title {
	float:left;
	height:14px;
	font-size:12px;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#123456;
}

.alphacube_content {
	overflow:auto;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
  font: 12px arial;
	background:#FDFDFD;
}

/* For alert/confirm dialog */
.alphacube_window {
	border:1px solid #F00;	
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.alphacube_message {
  font: 12px arial;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.alphacube_buttons {
	text-align:center;
	width:100%;
}

.alphacube_buttons input {
	width:20%;
	margin:10px;
}

.alphacube_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('alert/progress.gif') no-repeat center center
}

.alphacube_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;	
}


