#stickies .stickies_close_area
{
    margin: 0;
    text-align:left;
    padding: 0 10px 4px 0;
    float: left;
}

#stickies .error_stickie,
#stickies .warning_stickie,
#stickies .notice_stickie,
#stickies .debug_stickie
{
    text-align:left;
    margin: 3em 60px 5px 60px;
    padding: 8px;
}
.option_wrap #stickies .error_stickie,
.option_wrap #stickies .warning_stickie,
.option_wrap #stickies .notice_stickie,
.option_wrap #stickies .debug_stickie
{
    margin: 3px 0px 12px 0px;
}
* html #stickies .error_stickie,
* html #stickies .warning_stickie,
* html #stickies .notice_stickie,
* html #stickies .debug_stickie
{
    margin: 10px 60px 10px 60px;
    padding: 8px;
}
#stickies .error_stickie
{
    border: solid 2px #cc2f00;
    background-color: #ff9999;
}

#stickies .warning_stickie
{
    border: solid 2px #ff7700;
    background-color: #ffc28d;
}

#stickies .notice_stickie
{
    border: solid 2px #399c07;
    background-color: #d7ffaf;
}

#stickies .debug_stickie
{
    border: dashed 2px #444;
    background-color: #eee;
}
input.ck{border:0;background:none;}
#article_form{
    padding:2%;
    padding-top:0;
}
#article_title {
    font-size:20px;
    width:75%;
    padding:5px;
    margin-bottom:10px;
    font-weight:bold;
}
* html #article_form{
    margin-top:0px;
    padding-top:0px;
}
* html #form_main{
    width:73%;
}
* html #_category_name{
    width:100px;
}
* html #add_category_remote{
    padding-left:20px;
 }
* html .option_wrap{
    margin:0 10px 0 18px;
    float:left;
}
* html div.center{
    margin:0 10px 0 20px;
}
* html .edit_field{
    width:98%;
}
* html #sub_menu li{
    padding-bottom:0px;
    margin-bottom:-2px;
}
*+html #head_option{
    float:left;
}
* html #file_type{
    width:10%;
    margin-top:40px;
}
* html #file_list{
    width:85%;
    margin: 0 0 0 20px;
}
* html #head_option{
    float:left;
 }
*+html #menu{
    margin-bottom:-2px;
}
* html #menu{
    margin-bottom:-2px;
}
*+html #sub_menu ul li a{
    padding-top:5px;
    margin-bottom:-2px;
 }
#disable_bar_box, #disable_filters_box{
    width:96%;
    margin:40px 2% 10px 2%;
}
#disable_bars li, .hbars li{
    float:left;
}
.vbars {
    border:1px dashed green;
    float:left;
    padding: 10px 10px 20px 10px;
    width: 170px;
}
ul.disable_hbars {
    border:0px dashed green;
    padding: 10px 20px 80px 20px;
    width:100%;
}
ul.disable_postbars, ul.disable_navbars {
    border:0px dashed green;
    padding: 10px 20px 20px 20px;
    width:100%;
}
.hbars {
    border:1px dashed green;
    padding: 10px 10px 20px 10px;
    float:left;
    margin:20px 0px 0px 16px;
    clear:both;
}
.vbars li.bar{
    float:none;
}
.hbars li.bar, .disable_hbars li.bar{
    float:left;
    margin:10px 20px 10px 0px;
}
li.bar{
    width:150px;
    list-style-type:none;
    padding:0px;
    border:1px solid green;
    margin:10px 0px 10px 0px;
    cursor:move;
}
div.bar_info{
    padding:5px 0px 3px 10px;
    font-size:small;
    color:#666;
}
div.nav_info{
    font-size:12px;
    padding:2px 0px 2px 5px;
}
.bar input{
    width:144px;
    margin:0px;
    border:0px;
    border-bottom:1px dashed green;
    background:#fff;
}
.handle{
    width:20px;
    background:green;
}
.bars_title{
    text-align:center;
}
.disable_bars_title{
    text-align:center;
    padding-bottom: 10px;
    border-bottom:1px solid green;
}
.enable_navbars_title, .enable_postbars_title{
    text-align:center;
}
.enable_navbars, .enable_postbars{
    border:1px dashed green;
    padding: 10px 10px 10px 10px;
    margin:20px 0px 0px 16px;
    width:90%;
    float:left;
    clear:both;    
}
li.navbar{
    width:120px;
    float:left;
    font-size:12px;
    list-style-type:none;
    padding:2px 1px 2px 1px;
    margin:2px 5px 2px 5px;
    border:1px solid green;
    cursor:move;    
}
.enable_postbars li.bar, .disable_postbars li.bar{
    width:150px;
    float:left;
    font-size:12px;
    list-style-type:none;
    padding:2px 1px 2px 1px;
    margin:2px 5px 2px 5px;
    border:1px solid green;
    cursor:move;    
}
table#theme_table{
    width:100%;
}
table#theme_table td{
    border:0;
}
td#theme_list{
    width:230px;
    text-align:center;
    overflow:auto;
}
div#theme_demo{
    height:480px;
    overflow:auto;
}
div#theme_iframe{
    vertical-align:top;
}
div.theme_info{
    padding-top:3px;
}
div.theme_form{
    margin:5px 0px 0px 0px;
}
div.theme_warp{
    padding:10px 0px 10px 0px;
    border-bottom:1px solid #C4DA75;
}
div.theme_warp:hover{
    background:#C4DA75;
}
td.d_handle{
    width:30px;
}
td.dragger{
    width:22px;    
    cursor:move;
}
*+html td.dragger, *+html th.dragger{display:none;}
* html td.dragger, *+html th.dragger{display:none;}
#updater {
    padding-top:20px;
    margin:auto;
    width:400px;
}
#hintbox{ /*CSS for pop up hint box */
position:absolute;
top: 0;
background-color: lightyellow;
width: 150px; /*Default width of hint.*/ 
padding: 3px;
border:1px solid black;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
border-right: 3px solid black;
border-bottom: 3px solid black;
visibility: hidden;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
font-weight: bold;
color: navy;
margin: 3px 8px;
}

td.group_name_col  {
    width:14em;
}
td.group_space_col  {
    width:12em;
}
td.group_file_size_limit_col  {
    width:16em;
}
#add_category label {
    margin-left:15px;
}
td.user_name_col{
    width:12em;
}
td.user_bind_domain_col{
    width:15em;
}
td.user_nick_col{
    width:10em;
}
td.user_email_col{
    width:15em;
}
td.user_title_col{
    width:15em;
}
td.permalink_col{
    width:5em;
}
td.user_group_col{
    width:14em;
}

td.comment_block_by{
    width:10em;
}
div#filters{
    float:left;
    clear:both;
    width:100%;
}
.comment_box, .point_box{
    float:left;
    width:100px;
    height:50px;
    line-height:50px;
    text-align:center;
    padding:5px;
    margin:20px 0 0 0;
    border:1px solid green;
}
.point_box{
    border:0;
    width:30px;    
    background:url(/images/right.gif) no-repeat center;
}
ul#enable_filters{
    float:left;
    font-weight:bold;
    margin:0;
    min-width:140px;
    height:100px;
    padding:0 20px 0 0;
    border:1px dashed green;
}
ul#disable_filters{
    width:100%;
    height:100px;
}
ul#enable_filters li, ul#disable_filters li {
    float:left;
    border:1px solid green;
    margin:20px 0px 0 20px;
    padding:5px;
    width:100px;
    text-align:center;
    list-style-type:none;
    height:50px;
    line-height:50px;
    cursor:move;
}
#disable_filters_box{
    float:left;
    margin-bottom:0px;
}
img.notice{
    position:relative;
    left:-22px;
    top:-7px;
    z-index:9999;
    margin-right:-20px;
    cursor:pointer;
}
img.notice, x:-moz-any-link, x:default {
    float:right;
}
input.checkbox, x:-moz-any-link, x:default {margin-bottom:-3px;}
*+html img.notice, * html img.notice{float:none;cursor:hand;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
img.notice{
    margin-right:0px;
    float:none;
}
td form{ 
    margin:0;
}
}

*+html #add_category form{
    margin:0;
}
* html #add_category form{
    margin:0;
}
*+html td form{ 
    margin:0;
}
* html td form{
    margin:0;
}

a.remote_setting{
    float:right;
    margin-right:8px;
}
.filter a.remote_setting{
    margin:0px;
    line-height:16px;
}
div.rmf{
    text-align:left;
    padding:10px 10px 0 10px;
}
#article_created_at{
    width:80%;
}
#import_result{
    padding:0 15px 0 15px;
}

a.read{    
    background: url(/images/read.gif) no-repeat left center;
    padding-left: 22px;
}
a.edit{    
    background: url(/images/edit.gif) no-repeat left center;
    padding-left: 22px;
}
a.delete{    
    background: url(/images/delete.gif) no-repeat left center;
    padding-left: 22px;
}
a.destory{    
    background: url(/images/destory.gif) no-repeat left center;
    padding-left: 22px;
}
a.restore{    
    background: url(/images/restore.png) no-repeat left center;
    padding-left: 22px;
}
a.insert{    
    background: url(/images/pass.gif) no-repeat left center;
    padding-left: 22px;
    font-weight:bold;
}
a.setting{
    background: url(/images/setting.gif) no-repeat left center;
    padding-left: 18px;
}
a.post_comments{    
    background: url(/images/post_comment.gif) no-repeat left center;
    padding-left: 16px;
    margin-left:25%;
}
a.pass{    
    background: url(/images/pass.gif) no-repeat left center;
    padding-left: 22px;
}
a.enable_fontpage{    
    display:none;
}
td:hover a.enable_fontpage{    
    background: url(/images/enable_fontpage.gif) no-repeat left center;
    padding-left: 22px;
    display: inline;
}
a.cancel_fontpage{    
    background: url(/images/cancel_fontpage.gif) no-repeat left center;
    padding-left: 22px;
}
tr.fontpage_col{
}
*+html a.read, *+html a.edit, *+html a.delete, *+html a.pass{
    padding-top:2px;
}

input:hover{
    color:#666;
}
th.checkbox{width:30px;}
*+html th.checkbox input{border:0;padding:0;}
*+html td.checkbox input{border:0;padding:0;}
input.selected_submit,input.selected_submit:hover, input.selected_submit:focus {
    margin-top:0px;    
    background: url(/images/delete.gif) no-repeat 5px center;
    padding-left: 23px;
    color:#000;
}
input.recategory_selected_submit,input.recategory_selected_submit:hover, input.recategory_selected_submit:focus {
    margin-top:0px;    
    background: url(/images/recategory.gif) no-repeat 5px center;
    padding-left: 23px;
    color:#000;
}
input.destory_all,input.destory_all:hover, input.destory_all:focus {
    margin-top:0px;    
    background: url(/images/destory.gif) no-repeat 5px center;
    padding-left: 23px;
    color:#000;
}
tr:hover td.dragger{background: url(/images/updown.png) no-repeat center;}
* html td.dragger{background: url(/images/updown.png) no-repeat center;}
#add_category #s{margin-left:25px;}
#updater{text-align:center;}

td.comments_col
{
    width:7em;
    text-align:left;
}
td.title_col{
    width:38%;
}
table#article_actions
{ 
margin:auto;
margin-top:0px;
vertical-align:top;
font-family: Verdana;
font-weight: normal;
color: #404040;
background-color: #fafafa;
border-collapse: collapse;
border-spacing: 0px; }
table#article_actions td{
    border:0;
    text-align:right;
    vertical-align:bottom;
    width:auto;
}
table#article_actions td.border{
    border-right:1px solid #C4DA75;
    padding-right:15px;
}
td.valign{vertical-align:top;}
table.sofT{width:100%;margin-top:5px;} 
select#category,select#category option{
    width:50%;
}
td.delete:hover{background:red;color:#fff;}
td.delete:hover a{color:#fff;}
table#article_actions td.delete_selected {width:8em;}
div.delete_selected{width:100%;text-align:right;padding:10px 0px 0px 0px;}
div.delete_selected input:hover{background: url(/images/delete.gif)  red no-repeat 5px center;color:#fff;}
table#article_actions td.category_filter {width:25em;text-align:left;}
.comment_writer_col{
    width:130px;
}
.comment_time_col{
    width:180px;
}
.comment_content_col{
    width:380px;
    text-align:left;
    padding:5px 15px 5px 15px;
}
.comment_guest_col{
    width:50px;
}
.comment_email_col{
    width:50px;
}
img.favicon{
    float:left;
    margin: 5px 10px 5px 30px;
}
div.talk_avatar{
    float:left;
    padding:5px 10px 5px 0px;
}
input.submit_post,input.submit_post:focus {
    background: url(/images/submit_post.gif) no-repeat 6px;
    padding-left: 20px;
}

#article_autosave_notifier{
    float:right;
    padding:5px;
    color:#999;
}
span#autosaving{
    padding-left:20px;
    background: url(/images/inprogress.gif) no-repeat 2px;
}
span#autosave_ok{
    padding-left:20px;
    background: url(/images/saved.png) no-repeat 2px;
}
span#autosave_fail{
    padding-left:20px;
    background: url(/images/fail.gif) no-repeat 2px;
}
.user_theme_warp
{
    background: Red;
}
.post_title_link{color:#000;}
.post_rank{font-weight:bold; }
#index_wrap{text-align:center;}
#index_url{padding:5px;font-size:medium;}
#index_info{padding:3px;}
#index_img{padding:10px 0px 0px 0px;}
#notifier_wrap {
    width:100%;
    height:1.5em;
}
#notifier {
    font-weight:bold;
    text-align:right;
    margin-right:16px;
    padding:0px 10px 0px 10px;
    float:right;
    color:#666;
}
#links{
height: 40px;
}
td.checkbox input {border:0;background:transparent;}
.button_to_link{width:20px;padding:5px;border:1px solid #bed569;color:#000;}
#sortable_form_submit
{
   font-weight:bold; 
    width: 96%;
    margin-right: 2%;
    margin-bottom: 10px;
    margin-left: 2%;
    border-bottom:1px solid #bed569;
}
#upload_file{
    float:right;
}
.file_action_col{
    width:7em;
}
input#upload{
    display:inline;
    width:220px;
}
.file_ctime_text{
    color:#aaa;
    margin-top:3px;
    font-size: xx-small;
}
#upload_iframe{
    height:2.5em;
    width:500px
    margin:0;
    padding:5px 0px 0px 0px;
    overflow:hidden;
}
.dashbar_border{
    border: 1px dashed #666;
}
.hover_dashbar_border{
    border: 3px dashed #666;
}
.dashbar_border h2{
    font-weight:bold;
    padding: 3px 0px 15px 0px;
    cursor:move;
}
ul.dashbar_disable{
    width: 90%;
    padding: 5px 5px 45px 5px; 
    margin-top:0px;
}
ul.dashbar_disable li{
    float:left;
    padding: 0px 10px 0px 0px;
    margin:0px 10px 0px 16px;
    list-style:none;
}
.dashboard_right{
    float:right;
    width:30%;
    padding:10px 0px 50px 0px;    
}
.dashboard_right li, .dashboard_left li{
    margin-bottom:10px;
}
.dashbar_disable h2{
    padding-bottom:4px;
    border-bottom:1px solid #c4da75;
    color: #666;
}
.dashboard_right h2, .dashboard_left h2{
    padding-bottom:4px;
    border-bottom:1px solid #c4da75;
    color: #666;
}
.dashboard_left{
    width:61%;
    padding:10px 10px 50px 0px;    
}
#disable_dashboardbar_box .dashboardbar_content, #disable_dashboardbar_box .remote_setting{
    display:none;
}
.dashboardbar_content{
    
}
#columns_setting{
    padding: 0px 20px 0px 5px;
    width:100%;
}
#disable_dashboardbar_box{
    background: #efefef;
    padding:5px 0px 15px 8px;
    width:100%;
}
#dashboardbar_settings_box{
    width:100%;
}
#d_p{
    text-align:right;
    padding:8px 0px 0px 0px;
}
a#d_open{
    float:right;
    padding:0;
    margin:0;
    /*background: url(/images/set.gif) no-repeat left center;*/
    padding-left: 22px;
    color: #ccc;
}
a#d_open:hover{
    color: #666;
}
.category_permalink_col{
    width:7em;
}
