<% sidebar_cache :new_messages do -%>
<ul class="navlist">
			<% for comment in @new_messages 
			-%>
            <li><%= (link_to comment_brief(comment, :length => @message_cut), 
                             :controller => "/blog", :action => "guestbook", :anchor => "comment#{comment.id}") %></li>
			<% end -%>
	
</ul>	
<% end -%>
