<% sidebar_cache :new_comments do -%>
<ul class="navlist">
	<% @new_comments.each do |comment| 
	-%>
		<li>
        <%= (link_to comment_brief(comment, :length => @comment_cut), 
                                     post_path(comment.article, 
                                     :anchor => "comment#{comment.id}", 
                                     :format => :html)) if comment.article %>
                </li>
	<% end -%>
	
</ul>	
<% end -%>
