a {
    color: #444;
}
a:hover, #hom a:hover {
    color:  #fff;
}
#main {
    background: #ccc;
    color: #000;
} 
#footer {
    color: #333;
}
#footer a:hover {
    color: #c60;
}
#hom {
    color: #fff;
    background: #666;
}
#hom a {
    color:  #ddd;
}
#article_header {
    color: #777;
}
#article_body {
    background: #e5e5ec;
}
#main h4{
    color: #666;
}
.comment_box0, .comment_box1, .comment_self {
    background: #eee;
}
.comment_self {
    background: #fff;
}
.comments_count {
    color: #377CB1;
}
.comment_header {
    color: #666;
}
.comment_box0 a,.comment_box1 a {
    color: #2287a8;
}
.comment_box0 a:hover,.comment_box1 a:hover {
    color: #ff9900;
}
.comment_content {
    color: #555;
}
#post_comment fieldset {
    border: 1px solid #666;
}
input, textarea, select {
    border: 1px solid #666;
}
input:focus, textarea:focus {
    background: #eee;
}
pre {
    border: 1px solid #666;
}
#hom #is_login .reg {
    color: #ff6;
}
a.up {
    background: url(/images/up-gray.gif) no-repeat left center;
    padding-left: 14px;
}
a.down {
    background: url(/images/down-gray.gif) no-repeat left center;
    padding-left: 14px;
}
#dhtmltooltip{
border: 1px solid #666;
background-color: #eee;
}
#bulletin {
    background: #eee;
}
.date {
    color: #c63;
    background: #eee;
}
.list_header, .list_header a {
    color: #c63;
}
.list_header a:hover {
    color: #fff;
}
.list_box p {
    border-bottom: 2px solid #eee;
}
.list_box h3 span {
    color: #666;
}
.list_footer {
    background: #ddd;
}
#page {
    color: #f90;
}
#page a {
    color: #bbb;
}
#page a:hover {
    color: #f90;
}
#nav_bar li {
    border-bottom: 1px solid #fff;
}
#nav_bar ul a {
	border-left: 10px solid #666;
	background-color: #ccc;
	color: #333;
}
#nav_bar ul a:hover {
	border-left: 10px solid #999;
	background-color: #ddd;
}
#writer {
    background: #ccc;
}
#writer_info {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    color: #444;
}
.new_comment, #sidebar #links, #new_messages, #count {
    background: #ccc;
    color: #333;
}
.header {
    color: #fff;
    background: #666;
}
