<% postbar_cache :global_relative_posts, :in => 20.hours, :post => @post.id do -%>
<ul>
	<% unless @global_relative_posts.blank? -%>
	    <% for post in @global_relative_posts -%>
            <% if post.user %>
		        <li><%= post_link(post, :subdomain => post.user.name) %></li>
            <% end %>
	    <% end -%>
	<% else -%>
	    <li><%= t "plugins.relative_posts.no_match" %></li>
	<% end -%>
</ul>	
<% end -%>
