<%= remote_form do |f|-%>
    <label><%= t "plugins.relative_posts.number" %> : <%= f.text_field :local_relative_posts_num, :style => 'width:30px;' %> <%= t "plugins.relative_posts.default" %></label>
<% end -%>
