* html body {
    width: 985px;
    margin-top: 8px;
    margin-right: 8px;
}
* html #main_warp {
    margin-left: 140px;
}
* html form {
    margin: 0px;
}
* html input {
    padding-top:3px;
}
* html .checkbox {
    border: 0px;
}
* html .header {
    padding-top: 3px;
}
* html #article_brief {
    overflow: hidden;
    height: 70px;
}
* html #user_info {
    width: 300px;
    height: 60px;
    overflow: hidden;
}
* html #admin #hom {
    padding: 3px;
}
* html #main h2 {
    font-family: "黑体";
    font-size: 19pt;
}
* html .comment_box0, * html .comment_box1, * html .comment_self {
    height: 70px;
    word-break: break-all;
    overflow: visible;
}
* html small {
    font-size: 90%;
}
* html #new_comment, * html #sidebar #links, * html #new_messages {
    word-break: break-all;
}
* html #writer_info {
    padding-top: 3px;
}
* html #google_a2 {
    margin: 0px -15px 0px 0px;
}
