body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: small;
    min-width: 780px;
    max-width: 1024px;
}
img {
    border: 0px;
}
a {
    text-decoration: none;
    font-weight: bold;
}
#article_body a {
    font-weight: normal;
    border-bottom: 1px dotted;
}
#gad {
    float:right;
    margin-left:20px;
    margin-top: 5px;
}
.fieldWithErrors {
    padding: 4px;
    background: red;
    display: inline;
}
strong {
    color: #666;
}
small {
    font-size: 85%;
}
.clear {
    clear: both;
}
.Bold
{
	font-weight: bold;
}

.Title
{
	font-weight: bold;
	font-size: 18px;
	color: #cc3300;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}
#post_loading {
    margin: 10px 0px 0px 0px;
}
#post_loading span {
    background: #fc0;
    padding: 5px;
}
.cite_box {
    border: 1px solid #bbb;
    color: #777;
    padding: 4px;
    margin:5px;
}
.cite_header {
    border-bottom: 1px solid #bbb;
    padding-right: 80px;
}
.list_brief {
    padding: 8px;
    padding-left: 25px;
    padding-top: 22px;
}
.list_footer {
    text-align: right;
    margin-top: 5px;
}
.list_read {
    text-align: right;
    margin-top: 20px;
}
#page {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 160%;
    display: inline;
}
#page a {
    font-size: 70%;
    text-decoration: underline;
}
#page a:hover {
}

