    <tr id="category_<%= @category.id %>" class="">
	    <td class="dragger"></td>
	    <td class="category_name_col"><%= in_place_editor_field "category", "name", {},:cols => 10, :save_text => t(:save_text, :scope => [:txt, :view, :admin, :categories]) , :cancel_text => t(:cancel_text, :scope => [:txt, :view, :admin, :categories]) , :loading_text => t(:loading_text, :scope => [:txt, :view, :admin, :categories]),:click_to_edit_text=> t(:click_to_edit_text, :scope => [:txt, :view, :admin, :categories]) %></td>
	    <td class="category_info_col"><%= in_place_editor_field "category", "info", {},:save_text => t(:save_text, :scope => [:txt, :view, :admin, :categories]) , :cancel_text => t(:cancel_text, :scope => [:txt, :view, :admin, :categories]) , :loading_text => t(:loading_text, :scope => [:txt, :view, :admin, :categories]),:click_to_edit_text=> t(:click_to_edit_text, :scope => [:txt, :view, :admin, :categories]) %></td>
	    <td class="action_col delete"><%= link_to t(:delete, :scope => [:txt, :view, :admin, :categories]), admin_category_path(@category), :class => "delete", 
	    :confirm => t(:delete_category?, :scope => [:txt, :view, :admin, :categories], :name => @category.name) , :method => :delete %></td>
	    
    </tr>
