<% if @user.show_postbars -%>

  <div id="article_bar">
  <div id="article_tabs">
    <ul>
	<% for bar in @enable_postbars -%>
	    <li><a href="#<%= bar.id %>_post_bar"><%= title_of(bar) %></a></li>
	<% end -%>
    </ul>
    <% for bar in @enable_postbars -%>
	<div id="<%= bar.id %>_post_bar">
	    <%= content_of(bar) %>
	</div>
    <% end -%>
  </div>
  </div>

    <script type="text/javascript">
	$(function() {
		$("#article_tabs").tabs();
	});
    </script>

<% end -%>
