<% @fields = ['foot1', 'foot2'] -%>
<div style="clear:both;"><%= hbars :field => :none, :title => ("Content"), :style => 'float:none;border:0;background:#eee;width:400px;clear:both;height:50px;' %>
<%= vbars :field => :foot1, :title => ("Foot 1") %>
<%= vbars :field => :foot2, :title => ("Foot 2") %>
</div>
