html, body {
   margin : 0;
   padding : 0;
}

body {
   color : #a52a2a;
   background : #404040;
   width : 100%;
   font : 76% "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

/* Links within paragraphs (subtle) */
p a {
color: #666666;
background : inherit;
text-decoration: none;
}

/* Links within paragraphs (revealed) */
p:hover a { 
color: #3E3E3E;
background : inherit;
}

#container {
width : 750px;
margin : 0 auto;
padding : 5px;
background: #E4DCB2  url(images/bgd.jpg) repeat;
color : #333;
line-height : 1.5em;
}

/* TOP TITLE BAR */

#top {
margin:0;
padding : 0;
color:#333;
background : #404040 url(images/head.jpg) no-repeat;
border-bottom : 0px solid #fff;
height:144px;
}
#top h1 a{
    text-decoration:none;}
#top h1 {
padding : 30px 0px 5px 25px;
margin : 0;
font : 150%  Helvetica, "Trebuchet MS", Arial,Tahoma, sans-serif;
letter-spacing:5px;
text-align:left;
color:#EAE8D0;
background:transparent;
}
#top #gem_slogan{
    color:#ccc;
}
#top p {
padding : 5px;
font-size: .8em;
}
#top a:link, #top a:visited {
color: #EAE8D0;
background:transparent;
text-decoration: none;
}
#top a:hover { 
color: #fff;
background:transparent;
}

/* LEFT SIDEBAR */
#leftnav {
float : left;
width : 160px;
margin : 0;
padding : 5px;
border-right:0px solid #520934 ;
color : #EAE8D0;
background : #9C9473;
}
#leftnav h3{
    padding-bottom: 2px;
    font-size:120%;
}
#gem_slogan{
    padding-left:30px;
}

#content {
margin :10px 0 0 180px;
padding : 30px 10px 10px 10px;
}

#footer {
clear : both;
margin : 0 ;
padding : .5em;
color : #EAE8D0;
text-align:center;
background : #404040;
border-top : 0px solid #520934;
}

#footer a:link, #footer a:visited {
font-size: .9em;
color : #eee;
background : inherit;
text-decoration : none;
}

#footer a:hover {
font-size: .9em;
color :#3E3E3E;
background:inherit;
}

#leftnav p {
margin : 5px 0 10px 5px;
}

h2 {
margin : 0;
padding : 20px 0 5px 0px;
font : 140%  Helvetica, "Trebuchet MS", Arial,Tahoma, sans-serif;
border-bottom: 1px solid #656C4A;
color:#656C4A;
background:inherit;
}
h3 {
margin : 0;
padding : 20px 0 5px 10px;
font : 120%  Helvetica, "Trebuchet MS", Arial,Tahoma, sans-serif;
color:#EAE8D0;
background:inherit;
}

#footer img {
   float : right;
}
/* seen by IE5mac only, by Philippe Wittenbergh www.l-c-n.com */
*>html #footer img {
        margin : 0;
}
/* end */

.happy {
border-top : 1px solid #808080;
padding : 10px;
}

a:link, a:visited {
color : #5F5C51;
background : inherit;
text-decoration : none;
}

a:hover {
color :#3E3E3E;
background : inherit;
}

a:active {
color : #F5DE1E;
background : inherit;
text-decoration : none;
}

img {
   border : none;
}

.imgright {
float: right;
border: 1px solid #656C4A;
margin: 5px 15px 10px 10px;
padding: 10px;
}


.imgleft {
float: left;
border: 1px solid #656C4A;
margin: 5px 15px 10px 0px;
padding: 10px;
}

#menu {
width: 100%;
height: 23px;
margin: 0 0 0 0;
padding: 0 0 1px 0;
background: #A6C3AD url(images/pt02.jpg) no-repeat;
color:#000;
}
.navlist li {
font-size:12px;
list-style-type: none;
background: inherit;
color: #5F5C51;
margin: 0 15px 0 0;
padding: 0;
}
.navlist{
    padding:0;
    margin-left:20px;
    margin-top:2px;
    margin-bottom:5px;
    font-size:12px;
}

#gallery {
height:100px;
}

#gallery img {
float: left;
padding: 20px;
}

.clear {
clear: left;
}

.quote {
width: 130px;
margin: 0;
border : 1px dashed #fff;
padding : 10px;
color:#656C4A;
background: #E4DCB2;
font-size: .8em;
}

.search { 
background: #E4DCB2; 
color: #000;
border-top: 1px solid #F0E9DD;
border-bottom: 1px solid #F0E9DD;
clear: both;
text-align: left; 
padding: 5px 0 5px 0;
}

form { 
margin: 0; 
}

input.search { 
	width: 80px; 
	border: none;
	color: #000;
	background: url(images/input.gif); 
	padding: 4px; 
}

input.login { 
	width: 80px;
	border: none; 
	background: url(images/logininput.gif); 
	padding: 4px; 
}
.post-footer{
    background:#E3DAB1;    
}
h2.link_to_post{
    font-size:20px;    
    text-align:left;
}
h2.link_to_post a:hover{
    text-decoration:none;
    color:#3E3E3E;
}

#article_tabs{float:left;width:100%;margin-bottom:25px;}
