<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%= stylesheet_link_tag 'setup/setup' %>
<%= javascript_include_tag "setup" -%>
<title><%= @title %></title>
</head>

<body>
  <div id="setup_main">
	<%= yield %>
    </div>
</body>
</html>
